@import "global";

$header-height: 256px;

.l-header {
	@include vbg-sprite($vsprites73, "headerbg");
	height: $header-height;
	overflow: hidden;
}

.b-header {
	position: relative;
	height: 100%;
	width: $center-width;
	@include margin-center;
}

.b-header-bear {
	display: block;
	position: absolute;
	left: 12px;
	top: 32px;
	@include rec-sprite($sprites, "bear");
}

.b-header-title {
	position: absolute;
	top: 73px;
	left: 221px;
	@include rec-sprite($sprites, "title");
}

.b-header-contacts {
	@include rec-sprite($sprites, "contacts", false);
	@include dimensions-with-padding(get-sprite-width($sprites, "contacts"), get-sprite-height($sprites, "contacts"), 40px, 66px, 0, 41px);
	position: absolute;
	top: 0;
	right: -42px;
	text-align: center;
}
$b-header-contacts-text-margin: 6px;
.b-header-contacts-call-text, .b-header-contacts-or {
	@include inline-block;
	font-size: 12px;
	color: #c96707;
	margin-bottom: $b-header-contacts-text-margin;
}
.b-header-contacts-number {
	@include inline-block;
	font-size: 24px;
	font-weight: bold;
	color: $color-dark-brown;
	margin-bottom: $b-header-contacts-text-margin - 2px;
}
.b-header-contacts-call-back {
	@include block-anchor($color: dark-brown);
	@include inline-block;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: $b-header-contacts-text-margin;
}

.b-header-menu {
	@include rec-sprite($sprites, "menu");
	position: absolute;
	left: 167px;
	bottom: 38px;
	text-align: center;
	line-height: get-sprite-height($sprites, "menu") - 2px;
}
.b-header-menu-item {
	@include block-anchor(selectable);
	font-size: 18px;
	font-weight: bold;
}

