@import "global";

.l-page-w {
	position: relative;
}
.l-page {
	@include margin-center;
	width: $center-width;
	padding: 25px 0 35px;
}

.b-vkgroup {
	height: 220px;
	margin: 25px 0 0;
}
#vk_groups {
	@include margin-center;
}

//PAGE
.b-splash-page {
	@include stretch;
	z-index: 10;
}
.b-splash-page-overlay {
	@include stretch;
	@include opacity(0.6);
	background-color: #000000;
}

.b-splash-page-container {
	position: relative;
	margin: 0 auto;
}

//PAPER
.b-winpaper {
	@include rec-image("../img/paperbg.png");
	position: relative;
	top: 2px;
}
.b-winpaper-close {
	position: absolute;
	top: 23px;
	right: 20px;
	font-size: 25px;
	text-decoration: none;
	color: $color-anchor;

	&:hover, &:focus {
		color: $color-anchor-active;
	}
}
.b-winpaper-article {
	padding: 30px 63px 0;
	color: #3e0c0c;
	font-size: 18px;
	& p {
		margin-bottom: 25px;
	}
}
.b-winpaper-article-title {
	@include lobster-font;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	color: #623100;
	margin-bottom: 30px;
}

//CALLBACK FORM
.b-winsmart {
	@include border-radius(5px);
	border: 1px solid #cfcfcf;
	position: relative;
	top: 30px;
	background: url(../img/callback-bg.png);
	
	&.mod_callback {
		width: 330px;
	}
}
.b-winsmart-close {
	@include rec-sprite($sprites, "close-smart-icon");
	position: absolute;
	right: -15px;
	top: -17px;
	z-index: 10;
}
.b-winsmart-content {
	overflow: hidden;
	position: relative;
}
.b-cbform {
	position: relative;
	padding: 21px 38px 22px;
	color: #676766;
}
.b-cbform-wait {
	@include abs-center(image-width("../img/ajax-loader.gif"));
	@include rec-image("../img/ajax-loader.gif");
	position: absolute;
	top: - image-height("../img/ajax-loader.gif");
}
.b-cbform-success {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
}
.b-cbform-success-text {
	@include abs-middle(100px);
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	padding: 0 10px;
	color: green;
	font-size: 30px;
}
.b-cbform-title {
	@include single-text-shadow(0px, 1px, 2px, false, white);
	font-size: 24px;
	text-align: center;
	margin-bottom: 24px;
}
.b-cbform-input {
	position: relative;
	display: block;
	font-size: 20px;
	margin-bottom: 23px;
	
	&.mod_submit {
		@include rec-sprite($sprites, "callback-button");
		border: none;
		cursor: pointer;
		margin: 0 auto;
	}
	
	&.mod_text {
		height: 52px;
	}
	&.mod_text .b-cbform-input-field {
		padding-left: 10px;
		font-size: 25px;
	}
	
	&.mod_textarea {
		height: 94px;
	}
	&.mod_textarea .b-cbform-input-field{
		height: 72px;
		overflow: auto;
	}
	
	& label.error {
		position: absolute;
		font-size: 12px;
		bottom: -13px;
		color: red;
		right: 5px;
	}
}
.b-cbform-input-field {
	$b-cbform-input-field-shadow: inset #a8a8a8 1px 1px 3px;
	@include border-radius(5px);
	width: 100%;
	@include stretch(12px, 0, 0, 0);
	@include box-shadow($b-cbform-input-field-shadow);
	border: #dfdfdf 1px solid;
	
	&:focus {
		@include box-shadow($b-cbform-input-field-shadow, #fdff5c 0 0 10px);
		outline: none;
	}
	&.error {
		background-color: #ff9890;
	}
}
.b-cbform-input-label {
	display: block;
	font-size: 12px;
	
	& .required {
		color: red;
	}
}
