@import "global";

//SLIDER
.b-products-slider {
	position: relative;
	height: 445px;
}

.b-products-slider-button {
	@include abs-middle(get-sprite-height($sprites, "slider-arrow-left"));
	position: absolute;
}
.b-products-slider-button-prev {
	@include rec-sprite($sprites, "slider-arrow-left");
	left: 0;
}
.b-products-slider-button-next {
	@include rec-sprite($sprites, "slider-arrow-right");
	right: 0;
}

.w-b-products-slider-items {
	position: relative;
	overflow: hidden;
	margin: 0 67px;
	height: 100%;
}
.b-products-slider-items {
	position: relative;
	height: 100%;
	width: 99999px;
}

//PRODUCT
$b-product-left-padding: 35px;
$b-product-right-padding: 30px;
.b-product {
	@include width-with-padding(755px, $b-product-left-padding, $b-product-right-padding);
	margin-left: 38px;
	height: 100%;
	float: left;
	position: relative;
}

$b-prodimages-icon-height: 33px;
$b-prodimages-image-border: 1px;
@mixin prodimage-image-border {
	border: $b-prodimages-image-border solid #866848;
}
.b-prodimages {
	position: relative;
	float: left;
	width: 330px;
	height: 265px;
}
.w-b-prodimages-main {
	width: 100%;
	height: 224px;
}
.b-prodimages-main {
	text-align: center;
}
.b-prodimages-main-img {
	@include prodimage-image-border;
}
.b-prodimages-icons {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: $b-prodimages-icon-height + 2 * $b-prodimages-image-border;
	list-style: none;
	text-align: center;
}
.b-prodimages-icons-item {
	@include prodimage-image-border;
	@include inline-block;
	margin: 0 5px 10px;
}
.b-prodimages-icons-item-h {
	width: 50px;
	height: $b-prodimages-icon-height;
}
.b-prodimages-icons-item-anchor {
	display: block;
	cursor: pointer;
}
.b-prodimages-icons-item-img {
	@include margin-center;
	display: block;
}

$b-product-title-height: 116px;
.b-product-right {
	position: absolute;
	left: $b-product-left-padding + 363px;
	right: $b-product-right-padding;
	top: $b-product-title-height;
	bottom: 0;
}

.b-product-title {
	color: #633100;
	font-weight: bold;
	font-style: italic;
	font-family: 'Times New Roman', serif;
	text-align: center;
	height: $b-product-title-height;
}
.b-product-title-primary {
	display: block;
	font-size: 45px;
}
.b-product-title-secondary {
	display: block;
	//font-size: 34px;
	font-size: 30px;
}

.b-product-description {
	line-height: 26px;
	font-size: 22px;
	color: #3a190a;
}

.b-product-label {
	@include rec-sprite($sprites, "product-label");
	@include single-text-shadow(0px, 1px, 2px, false, #9d4e00);
	position: absolute;
	//top: 185px;
	left: -9px;
	bottom: 4px;
	color: #602f00;
	font-family: 'Tahoma', 'Trebuchet MS', serif;
}
.b-product-label-weight {
	position: absolute;
	bottom: 25px;
	width: 100%;
	text-align: center;
	font-size: 27px;
}
.b-product-label-price {
	position: absolute;
	top: 30px;
	left: 78px;
	font-size: 60px;
}

//PREVIEW
.b-products-delimiter {
	@include rec-sprite($sprites, "slider-delimiter");
	@include margin-center;
}

.b-prodicons {
	padding: 19px 0;
	text-align: center;
	list-style: none;
}

$b-prodicons-item-width: 115px;
$b-prodicons-item-height: 78px;
$b-prodicons-item-border: 5px;
.b-prodicons-item {
	@include inline-block;
	position: relative;
	margin: 0 20px;
	@include dimensions-with-padding($b-prodicons-item-width, $b-prodicons-item-height, $b-prodicons-item-border);
	background: none;
	&.state_selected {
		background: #a37d64;
	}
}
.b-prodicons-item-anchor {
	cursor: pointer;
}
.b-prodicons-item-h {
	@include box-shadow(gray 0 0 10px);
	width: $b-prodicons-item-width - $b-prodicons-item-border * 2;
	height: $b-prodicons-item-height - $b-prodicons-item-border * 2;
	background-color: white;
}
.b-prodicons-item-img {
	@include margin-center;
	display: block;
}
